In [25]:
import pandas as pd
import numpy as np
xmas = pd.read_csv("https://www.dropbox.com/scl/fi/qxaslqqp5p08i1650rpc4/xmas.csv?rlkey=erdxi7jbh7pqf9fh4lv4cayp5&dl=1")
xmas

    Day Day.in.Words  Gift.Item        Verb Adjective        Location
0     1        first  partridge         NaN       NaN  in a pear tree
1     2       second       dove         NaN    turtle             NaN
2     3        third        hen         NaN    french             NaN
3     4       fourth       bird         NaN   calling             NaN
4     5        fifth       ring         NaN    golden             NaN
5     6        sixth      goose    a-laying       NaN             NaN
6     7      seventh       swan  a-swimming       NaN             NaN
7     8       eighth       maid   a-milking       NaN             NaN
8     9        ninth       lady     dancing       NaN             NaN
9    10        tenth       lord   a-leaping       NaN             NaN
10   11     eleventh      piper      piping       NaN             NaN
11   12      twelfth    drummer    drumming       NaN             NaN

In [26]:
def pluralize_gift(gift):
  """
  Returns plural of a noun
  
  Parameters
  ----------
  gift: str
    A noun
    
  Return
  ------
  str
    Plural version
  """

  if "oo" in gift:
    gift = gift.replace("oo","ee")
  elif gift.endswith("y"):
    gift = gift[:-1] + "ies"
  else:
    gift = gift + "s"

  return gift

In [27]:
pluralize_gift = np.vectorize(pluralize_gift)

In [28]:
# Should work
pluralize_gift("goose")

# Will work if your function is vectorized! 
pluralize_gift(xmas['Gift.Item'])

array(['partridges', 'doves', 'hens', 'birds', 'rings', 'geese', 'swans',
       'maids', 'ladies', 'lords', 'pipers', 'drummers'], dtype='<U10')

In [36]:
num_word = {
    1: 'one',
    2: 'two',
    3: 'three',
    4: 'four',
    5: 'five',
    6: 'six',
    7: 'seven',
    8: 'eight',
    9: 'nine',
    10: 'ten',
    11: 'eleven',
    12: 'twelve',
}
xmas['num_words'] = xmas['Day'].map(num_word)

In [37]:
xmas

    Day Day.in.Words  Gift.Item        Verb Adjective        Location num_words
0     1        first  partridge         NaN       NaN  in a pear tree       one
1     2       second       dove         NaN    turtle             NaN       two
2     3        third        hen         NaN    french             NaN     three
3     4       fourth       bird         NaN   calling             NaN      four
4     5        fifth       ring         NaN    golden             NaN      five
5     6        sixth      goose    a-laying       NaN             NaN       six
6     7      seventh       swan  a-swimming       NaN             NaN     seven
7     8       eighth       maid   a-milking       NaN             NaN     eight
8     9        ninth       lady     dancing       NaN             NaN      nine
9    10        tenth       lord   a-leaping       NaN             NaN       ten
10   11     eleventh      piper      piping       NaN             NaN    eleven
11   12      twelfth    drummer    drumming       NaN             NaN    twelve

In [59]:
def make_phrase(day, num_words, item, verb, adjective, Location):
    """
    <documentation here>
    """
    
    ## Step 1: Replace NAs with blank strings
    verb = verb if verb is not np.nan else ""
    adjective = adjective if adjective is not np.nan else ""
    Location = Location if Location is not np.nan else ""
    
    ## Step 2: If the day number is larger than 1, the gift items need pluralized!
    ### Hint: call the function you created above!
    if day > 1:
        item = pluralize_gift(item)  # Assuming pluralize_gift returns the pluralized form
  
    ## Step 3: Figure out if a gift item starts with a vowel
    vowels = 'aeiou'

    ## Step 4: For the first day, determine the article ("a" or "an")
    if day == 1:
        if item[0] in vowels:
            num_words = 'an'
        else:
            num_words = 'a'
    else:
        num_words = num_words
    ## Step 5: Put all of the pieces together into one string and return!
    phrase = " ".join([str(num_words), str(adjective), str(item), str(verb), str(Location)]).strip()
    return phrase

In [60]:
make_phrase(2,'two','dove','','turtle','')

'two turtle doves'

In [61]:
xmas['Full.Phrase'] = xmas.apply(lambda x: make_phrase(x['Day'], x['num_words'], x['Gift.Item'], x['Verb'], x['Adjective'], x['Location']), axis=1)
xmas

    Day Day.in.Words  ... num_words                   Full.Phrase
0     1        first  ...       one  a  partridge  in a pear tree
1     2       second  ...       two              two turtle doves
2     3        third  ...     three             three french hens
3     4       fourth  ...      four            four calling birds
4     5        fifth  ...      five             five golden rings
5     6        sixth  ...       six           six  geese a-laying
6     7      seventh  ...     seven       seven  swans a-swimming
7     8       eighth  ...     eight        eight  maids a-milking
8     9        ninth  ...      nine          nine  ladies dancing
9    10        tenth  ...       ten          ten  lords a-leaping
10   11     eleventh  ...    eleven         eleven  pipers piping
11   12      twelfth  ...    twelve     twelve  drummers drumming

[12 rows x 8 columns]

Rescources: Used ChatGPT to fill NA's with blank strings in my second function. Also used it to convert to strings when combining all the strings into a phrase.